section.port-intro
    h3 My portfilio, The fruits of my labour 

section.port 
    button(class="accordion").italic-title My Un oppinontated <br> Pattern Library
    
    .drop-down-wrapper.panel 
        .port--col--1
        
            .port--tech
                .port--client
                    h3 Client
                    p Personal Project
            
                .port--client
                    h3 Tech Used 
                    p Javascript 
                    p SASS - SMACSS - BEM 
                    P Gulp
                    p Git 

        .port--col--2
            .port--p
                p The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM 
                p The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM 
              
        .port--col--2
            .port--p
                p The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM 
                p The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM 
                p The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from

        .port--col--1
            .img-1

        .port--col--1
            .port--p
                p The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM 
                p The Purpose of the pattern library is to increase the blocking out phase of web devlopment. Each component is able to be added to the code without any effects on your existing code base. Each block is contect unaware using the naming structure from BEM 
                















