.off-white{ background-color: #F0FFFF; }

.white{ background-color: #FFFFFF; }

.black{ background-color: #000000; }

.aqua{ background-color:#00FFFF; }

.cyan{ background-color: #00FFFF; }

.crimson{ background-color: #DC143C; }

.dark-orange{ background-color: #FF8C00; }

.deep-pink{ background-color: 	#FF1493; }

.light-blue{ background-color: 	#bfd7ff; }

.pale-green{ background-color: 	#b5e0b1; }

.army-green{ background-color: 	#699165 }

.dark-red{ background-color: 	#681a0a; }

.gold{ background-color: 	#aa721e; }


