<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!--Google Fonts Play Fair 400 and 700   -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

        <!--Google Fonts Play Fair italic  -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i" rel="stylesheet">


        <!--Google Fonts Open Sans 400 and 600  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href=" {{ site.baseurl }} /assets/css/main.css">

    </head>
    <body>

          {{ content }}

    </body>
</html>
